@tailwind base;
@tailwind components;
@tailwind utilities;

/* Show animation (slide-up effect) */
.animate-show {
    animation: slide-up 0.3s ease-out forwards;
}

@keyframes slide-up {
    from { transform: translateY(700px); }
    to { transform: translateY(0); }
}

/* Hide animation (slide-down effect) */
.animate-hide {
    animation: slide-down 0.3s ease-in forwards;
}

@keyframes slide-down {
    from { transform: translateY(0); }
    to { transform: translateY(700px); }
}
